<!DOCTYPE html>
<html>
<head>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

  <script src="https://kit.fontawesome.com/151410698b.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/stylesheet/loginPage.css">
  <link rel="manifest" href="/json/manifest.json" />
</head>
<body>
  <div class = "loader" style="display:none;">
    <div class="loaderSpin">

    </div>
  </div>
  <div class="background">
    <div class="logo" style="background-image: url(./images/logo_loginP.png); background-size: contain; background-repeat: no-repeat;">
      <div class="image">
      </div>
    </div>

    <div class="middleLine">
      <div class="line">

      </div>
      <div class="line_text">
        Continue with
      </div>
    </div>

    <div class="loginOptions" onclick="signInGoogle()">
      <div class="options">
        <i class="fab fa-google"></i>
      </div>
      <div class="options">
        <i class="fab fa-facebook-f"></i>
      </div>
      <div class="options">
        <i class="fab fa-instagram"></i>
      </div>
      <div class="options">
        <i class="fab fa-twitter"></i>
      </div>
    </div>
  </div>

<button onclick="signInGoogle()">구글 로그인</button>

<script>
    firebase.initializeApp({
      apiKey: "AIzaSyCr3EzdW7lvAO3wx1S934aa1_cyPlGj1lw",
      authDomain: "iotizer.firebaseapp.com",
    });

    var signInGoogle = function(){
        var provider = new firebase.auth.GoogleAuthProvider();
        provider.addScope('profile');
        provider.addScope('email');
        provider.setCustomParameters({
          // display: 'popup',
          prompt: 'select_account'
        });
        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE)
        .then(function(){
            return firebase.auth().signInWithRedirect(provider)
        })
        .catch(function(err) {
            console.log(err);
        });

        $('.loader').show();
    }

    firebase.auth().getRedirectResult()
      .then(function (result) {
        if(result.user != null){
          $('.loader').show();
          console.log("Logining");

          $.ajax({
            url: '/logingoogle',
            method: 'post',
            data: {token: result.credential.idToken},
            success: function(data) {
              window.location.href = data.redirect;
            },
            error: function(err){
              console.log(err);
            }
          });
        }
      })
      .catch(function (err) {
        console.log(err);
      });

</script>

</body>
</html>
